select {
    color: white;
    padding-bottom: 10px;
}

select option {
    color: black;
}

span select {
    width: 100%;
}

div span {
    width: 100%;
}
#currency-span {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 225px;
}