.green-button {
    background-color: rgb(94, 199, 94);
    color: white;
    padding-top: 0px;
    padding-bottom: 15px;
    border-radius: 50%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    display:inline-block;
    line-height:0.4;
    width: 30px;
    padding-right: 40px;
    padding-left: 0px;
}

.red-button {
    background-color: rgb(156, 10, 10);
    color: white;
    padding-top: 0px;
    padding-bottom: 24px;
    border-radius: 50%;
    font-size: 100px;
    text-align: center;
    display:inline-block;
    line-height:0.18;
    width: 30px;
    padding-right: 40px;
    padding-left: 0px;
}

.circle-button {
    text-align: 'center';
}